<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" >
<head>
    <meta charset="utf-8"/>
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script src="webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="container" align="center">
        <form action="/ajouterOncee" method="post" >
            div class="p-3 m-2">
            <header class="card-header">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <ul class="navbar nav">
                        <li><a class="btn-dark" th:href="@{indexpage}">Index</a> |</li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Manage
                            </a>
                            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li><a class="dropdown-item" th:href="@{ajouterproduit}">Add Product</a></li>
                              <li><a class="dropdown-item" th:href="@{indexpage}">Search</a></li>
                            </ul>-->
                        </li>
                    </ul>
                </nav>
            </header>
            <main class="card-body">
                <section class="container" align="center">
                    <form action="/ajouterOnce" method="post">
                        <h2>Product Information</h2>
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name">
                            <span class="text-danger" th:errors="${Product.name}">Error: {error message}</span>
                        </div>
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" name="category">
                            <span class="text-danger" th:errors="${Product.category}">Error: {error message}</span>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description">
                            <span class="text-danger" th:errors="${Product.description}">Error: {error message}</span>
                        </div>
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" id="price" name="price">
                            <span class="text-danger" th:errors="${Product.price}">Error: {error message}</span>
                        </div>


                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </form>
                </section>
            </main>
        </form>
    </div>


</body>
</html>