<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Index page</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="card-body">
        <div class="container">
            <form action="/ajouterProduit" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Products Name</label>
                    <input type="text" class="form-control w-50" id="name" name="name">
                    <span class="text-danger" th:error="${product.name}"></span>
                </div>
                <div class="mb-3">
                    <label for="category" class="form-label">Description du Produit </label>
                    <input type="text" class="form-control w-50" id="category" name="category">
                    <span class="text-danger" th:error="${product.category}"></span>

                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description du Produit </label>
                    <input type="text" class="form-control w-50" id="description" name="description">
                    <span class="text-danger" th:error="${product.description}"></span>

                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Prix</label>
                    <input type="text" class="form-control w-50" id="price" name="price">
                    <span class="text-danger" th:error="${product.price}"></span>
                </div>

                <button type="submit" class="btn btn-primary form-control w-50" value="Ajouter">Ajouter</button>
            </form>
        </div>
    </div>

</div>

</body>
</html>