<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="template" lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Gestion des Produits</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css" />
  <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/5.3.3/js/bootstrap.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div layout:fragment="content">
  <div class="p-3 m-2">
    <div class="card">
      <div class="card-header">Liste de produits | <a th:href="@{ajouterdevis}">Ajouter devis</a></div>
      <div class="card-body">
        <div class="d-flex justify-content-center mb-2 mt-1">
          <form method="get" th:action="@{listedevis}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
          </form>
        </div>
        <div class="container">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="p-4">
                <div class="flex items-center">
                  <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                  <label for="checkbox-all-search" class="sr-only">checkbox</label>
                </div>
              </th>
              <th scope="col" class="px-6 py-3">Numero Devis</th>
              <th scope="col" class="px-6 py-3">Date Devis</th>
              <th scope="col" class="px-6 py-3">CLient</th>
              <th scope="col" class="px-6 py-3">Nombre de Produit</th>
              <th scope="col" class="px-6 py-3">Total du Devis</th>
              <th scope="col" class="px-6 py-3">Avec facture</th>
              <th colspan="3" scope="col" class="px-6 py-3 text-center">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p:${ListDevis}">
              <td class="w-4 p-4">
                <div class="flex items-center">
                  <input id="checkbox-table-search-3" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
                  <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                </div>
              </td>

              <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                <div class="ps-3">
                  <div class="font-normal text-gray-500" th:text="${p.getQuote_Number()}"></div>
                </div>
              </td>
              <td class="px-6 py-4" >
                <span th:text="${p.getQuote_Date().getYear()+1900}"></span>/<span th:text="${p.getQuote_Date().getMonth()+1}"></span>/<span th:text="${p.getQuote_Date().getDate()}"></span>

              </td>
              <td class="px-6 py-4" th:text="${p.getCustomer().getName()}"></td>



              <td class="px-6 py-4" th:text="${p.getProductLines().size()}"></td>
              <td class="px-6 py-4" th:text="${p.getTotalprice()}"></td>



              <td class="px-6 py-4">
                <th:block th:if="${p.getInvoice() != null}">
                  <div class="flex items-center">
                    <div class="h-2.5 w-2.5 rounded-full bg-green-500 me-2"></div>
                    Facturée
                  </div>
                </th:block>
                <th:block th:unless="${p.getInvoice() != null}">
                  <a th:href="@{generateInvoiceFromQuotes(id=${p.getId()})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> Générer la facture </a>
                </th:block>
              </td>
              <td class="px-6 py-4">
                <a th:href="@{impressiondevis(id=${p.getId()})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Print</a>
              </td>
              <td class="px-6 py-4">
                <a th:href="@{editdevis(id=${p.getId()})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Editer devis</a>
              </td>
              <td class="px-6 py-4">
                <a th:href="@{deletedevis(id=${p.getId()})}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete devis</a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="container">
            <ul class="nav nav-pills">
              <li class="nav-item me-2" th:each="p, stat: ${page}"><a th:class="${stat.index == p} ? 'btn btn-primary' : 'btn btn-outline-primary'" th:text="${stat.index}" th:href="@{index(page=${stat.index})}"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>