<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <header class="row">
        <div class="col-6">
            <img src="your-company-logo.png" alt="Company Logo" class="img-fluid">
        </div>
        <div class="col-6 text-right">
            <p>Invoice #: 10001</p>
            <p>Date: 2024-04-22</p>
        </div>
    </header>

    <div class="row">
        <div class="col-6">
            <h4>Bill To:</h4>
            <p>Customer Name</p>
            <p>Customer Address</p>
        </div>
        <div class="col-6">
            <h4>Ship To:</h4>
            <p>Customer Name</p>
            <p>Customer Address</p>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Object</th>
                <th>Quantity</th>
                <th>Prix unitaire</th>
                <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Description of service or product</td>
                <td>1</td>
                <td>$0.00</td>
                <td>$0.00</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 text-right">
            <table class="table table-sm">
                <tbody>
                <tr>
                    <td>Sous-total</td>
                    <td>$50.00</td>
                </tr>
                <tr>
                    <td>Impôt</td>
                    <td>$0.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>$50.00</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h4>Termes</h4>
            <p>Terms and conditions</p>
        </div>
        <div class="col-6">
            <h4>Remarques</h4>
            <p>Any relevant information</p>
        </div>
    </div>
</div>
</body>
</html>